[2013-12-17 16:14] csalch opened #1 "slc does not support relation command"
Your readme says that slc version `>= 2.0.0` is required for these examples.  I presently have `v2.0.4` installed and it does not appear to support the relation command.

[code]

[2013-12-18 23:50] #1 closed, assigned to nobody

[2013-12-23 13:25] 74monkeys opened #2 "Access control not enforced"
I got the app up and running and then request the transactions from the test data user (1) using curl - so I am not passing a token, so I am not authenticated.
It happily returns all the transaction, which it shouldn't

$ curl http://0.0.0.0:4000/api/users/1/transactions
[
  {
    "id": 1,
    "userId": 1,
    "accountId": 1,
    "pos": "Gas and Test",
    "credit": 8283.81,
    "time": "2013-01-1

[2014-01-03 14:58] shauntrennery opened #4 "Custom Role Example"
Is there perhaps an example of creating and using a custom role?

[2014-03-15 00:43] albertwchang opened #7 "Provisioning Logout"
I can't seem to find how the 'User.login()' method is successful.  I'm working on my own project where i'm trying to connect through Angular, and into my Strongloop User model.  When trying to execute the 'User.logout()' method, I keep getting a 400 error.

Any suggestions on what I should modify in the code base?

[2014-03-19 00:49] nicnocquee opened #8 "/users/:id/account not accessible"
Hi,

I'm trying to wrap my head around loopback's ACL but I couldn't figure out why `/users/:id/account ` is not accessible even when logged in user calls it. Keeps getting access denied.

`/accounts/:id?access_token=<token>` also got access denied.

I thought since `user` belongs to `account` and `account` has acl:

[code]

account can be accessed by the owner which is the user it is associated w

[2014-04-15 15:24] shuai-zh opened #9 "How to persist user's login status?"
I noticed that the 'rememberMe' parameter here(https://github.com/strongloop/loopback-example-access-control/blob/master/client/js/controllers.js#L30) did not work out like I expected, as when I refreshed the page the login status was lost.

So what am I supposed to do in order to make the users not have to login ever again or for a specific time span after they have once logged in successfully?

[2014-04-15 15:32] shuai-zh opened #10 "password info included in login response"
Using the include:'user' parameter in here(https://github.com/strongloop/loopback-example-access-control/blob/master/client/js/controllers.js#L30) will result all the properties of the user including the encrypted password(i.e. "password": "$2a$10$1Fv2FPja7NiFjGXiEdBi...) return to client, it is certainly not safe, and I think this should be a bug.

[2014-04-15 15:44] #9 closed, assigned to nobody

[2014-04-15 15:49] #10 closed, assigned to nobody

[2014-05-22 10:28] y12studio opened #11 "Problem with the loopback-datasource-juggler version"
npm install

[code]

[2014-05-23 12:25] #11 closed, assigned to nobody

[2014-06-12 16:14] cdcme opened #12 "Model resource is undefined"
I'm trying to create a very simple create form for an organization. I managed to get the Loopback stuff working pretty easily and was able to wire up angular seed with it. I ran the Grunt task and included lbServices but no matter what I do, my resource is always undefined. [See this gist](https://gist.github.com/carlodicelico/62d83cd8dd76de2a715f).

[2014-06-12 19:35] #12 closed, assigned to nobody

[2014-07-07 10:53] itsashis4u opened #13 "[optional dependency "strong-agent" module not found] while running loopback-access-control"
Error:

[code]

PS : I have just started learning it, so if there is some mistake in my part, please specify it

[2014-07-24 11:46] #13 closed, assigned to nobody

[2014-08-13 00:59] tbrannam opened #14 "Confused by Tutorial"
It appears that the ACL generated in models.json as specified in the tutorial do not seem to provide exclusive access to user owned models -- I would expect that the models.json created in the tutorial should be similar to the results found in https://github.com/strongloop/loopback-example-access-control/blob/master/server/models.json

Is the tutorial out of date? or just wrong?

[2014-08-13 08:09] luckymancvp opened #15 "looopback_sdk_angular failed"
I'm following this example http://docs.strongloop.com/display/LB/AngularJS+JavaScript+SDK to try to combine loopback.io and angularjs.

But when i create Gruntfile.js and then run **grunt**. It showed that task **loopback_angular** not found, so I open node_modules/grunt_loopback_sdk_angular/tasks/loopback_angular.js and find there is a task **loopback_sdk_angular**. So I changed task name in Grun

[2014-08-13 08:17] #15 closed, assigned to nobody

[2014-08-13 09:55] PeterClough opened #16 "Node app fails"
I ran npm install ok and have a current slc version but when I cd to server and run node app I get this.

[code]

Any ideas?

[2014-08-14 11:23] #16 closed, assigned to nobody

[2014-08-20 16:06] #14 closed, assigned to nobody

[2014-08-26 13:18] pungoyal opened #17 "Update for loopback 2.0"
Update this example for loopback 2.0

[2014-09-09 17:57] superkhau opened #18 "Upgrade to 2.x"
- refactor tutorial
- upgrade structure to 2.x

[2014-09-11 09:32] nurrony opened #19 "Authentication problem in Loopback-example-access-control"
I cloned a fresh copy of this repo remove unnecessary models and install npm dependencies  then run the app.  Now when I try

[code]

It returns me

[code]

Then I run the following commands

[code]

It returns me this instead of returning the list of users

[code]

Am I calling the api in right way? if yes then what is the problem. I followed this post
http://docs.strongloop.com/display/LB/Creati

[2014-09-13 14:48] xinshouke opened #20 "I was unable to get anythings after executed command git"
I execute the command `:sudo git clone git@github.com:strongloop/loopback-example-access-control.git`. But , I was unable to get anythings as the output below:

[code]

Please make sure you have the correct access rights
and the repository exists.

[2014-09-13 20:53] ilija1 opened #21 "Modifications to lb-services.js"
I noticed that the loopback angular SDK generated code, lb-services.js, has some modifications to it(such as interceptors on some of the User methods).

I have my gruntfile set up so that lb-services.js gets re-generated every time. The app is in development and I'll be making changes to the models frequently so I re-generate lb-services.js in my grunt workflow.

Is there a way to  take the modifi

[2014-09-14 13:25] #20 closed, assigned to nobody

[2014-09-16 05:32] #19 closed, assigned to nobody

[2014-09-17 06:43] xinshouke opened #22 "Dump automigrate/autoupdate SQL commands"
I found these below models were stored in database:
"user","accessToken","bank", "account" "transaction", "alert"
Would you like to share the SQL to create these tables for the models in database please?

[2014-09-17 14:17] xinshouke opened #23 "Error: Cannot GET /cordova.js"
I merged the code in folder client to  strongloop/loopback-example-extendedAPI/client, the server was started successfully, but I click login button, the server is crush and the below exception was throw:

[code]

[2014-09-18 01:35] #17 closed, assigned to nobody

[2014-09-18 01:46] #23 closed, assigned to nobody

[2014-09-18 03:52] xinshouke opened #24 "User.count return a function in lb-services.js"
I test the below code in controller,but the method User.count in lb-services.js returned a a function like the below shut-screen  but not a number value.
------------------------------test js code in controller.js--------------------------------------

[code]

![anguar](https://cloud.githubusercontent.com/assets/3468107/4314822/237f66c2-3ee7-11e4-80e5-feb9a539dc44.png)

[2014-09-18 16:50] #21 closed, assigned to nobody

[2014-09-18 23:41] #24 closed, assigned to nobody

[2014-09-22 11:34] bluestaralone opened #25 "How to shorten ACLs definitions ?"
I have read below documents but i have problem need your help:
http://docs.strongloop.com/display/LB/Controlling+data+access
http://docs.strongloop.com/display/LB/Model+definition+JSON+file

[code]

It's too long, is there anyway to shorten it.
Can you help me write a tutorial for loopback 2.0
Thanks a lot.

[2014-09-23 00:12] cnaccio opened #26 "AccessToken not being sent on subsequent requests after login"
I'm getting the following on windows. Everything seemed to be ok except that when I went to write the authentication code I realized that the generated Angular factory was not passing the accesstoken with subsequent requests following the login. When comparing my code against the example application I noticed I'm missing the interceptor code for each endpoint method. I tried setting the public pro

[2014-09-23 01:12] #26 closed, assigned to nobody

[2014-09-27 07:28] xinshouke opened #28 "How to set the configuration to support jade as view engine"
I plan migrate some jade into the client path, but it looks like that this project doesn't support jade. May it support jade as view engine and how to configure it?

[2014-09-28 00:10] #28 closed, assigned to nobody

[2014-10-08 08:18] xinshouke opened #30 "the $q couldn't be invoked under the folder client"
I was trying to invoke $q in my services.js under  the folder client, but there is a excetpion in testing broswer page as below;but I did npm install q!  Why was the program unable to run $q.defer()?

Uncaught Error: [$injector:modulerr] Failed to instantiate module starter due to:
Error: [$injector:modulerr] Failed to instantiate module starter.services due to:
Error: [$injector:nomod] Module 'st

[2014-10-08 21:07] ritch opened #31 "Dynamic ACL and Other Principal Types"
- We need to showcase examples of access controls that apply to specific model instances (data).
- We need to add some access controls that use other principal types (beyond ROLE).

@raymondfeng can you come up with some examples that would make sense for this repo example?

This is an excerpt from a comment you made in confluence a while back:

[code]

[2014-10-09 02:33] #30 closed, assigned to nobody

[2014-10-09 03:53] #4 closed, assigned to nobody

[2014-10-15 17:33] #18 closed, assigned to superkhau

[2014-10-25 17:43] #7 closed, assigned to crandmck

[2014-10-26 18:00] ngnguyen1 opened #35 "xml display instead json."
Hi,
i cloned this project, i run nomally follow step by step in readme file, but when i start server, i goto address http://localhost:9009/explorer (i custome this port) and i goto remote method get /list-projects, i send request and return json format. **BUT** when i goto direct link on new tab: http://localhost:9009/api/list-projects i get result is xml format. I don't know why so.

Please expla

[2014-10-27 17:21] #35 closed, assigned to nobody

[2014-11-07 16:15] belibasakis opened #39 "No Ionic example?"
Relating to this blog post http://strongloop.com/strongblog/angular-js-sdk-loopbac/
should't the example look something like this http://strongloop.com/wp-content/uploads/2014/02/Screen-Shot-2014-02-20-at-8.36.49-AM.png and use Ionic for the frontend?

"Our example project looopback-example-access-control is a good example of leveraging the power of LoopBack AngularJS SDK and the Ionic Framework t

[2014-11-07 19:59] #39 closed, assigned to nobody

[2014-11-28 19:42] pulkitsinghal opened #40 "Formalize the file names for the boot directory"
It would be great if this sample could `Formalize the file names` as suggested in https://github.com/strongloop/loopback-boot/issues/61 for the files in the boot directory.

It would make for a better implicit understanding of how to use loopback if we clone the example and decide to continue experimenting on top of it.

[2014-11-29 08:45] #40 closed, assigned to nobody

[2014-12-24 11:41] hellowin opened #41 "/users/:id/projects still need authorization even I gave "admin" access token"
I did:
1. Open `API Explorer`
2. Login as `Bob` (admin)
3. Put `access_token` on top of `API Explorer`
4. Try open `/users/1/projects` and it still need and authorization
5. I tried login with `John` (owner), the problem still exist

Why is that happen?

I also has same problem with my own project that I "clone" from this example.

[2014-12-30 00:32] #25 closed, assigned to nobody

[2014-12-31 01:24] #41 closed, assigned to superkhau

[2015-01-08 07:09] todototry opened #43 "server shutdown when I try to login as non Guest (jane , jhon or bob )"
bug trace as follow:

      token = token.toJSON();
                    ^
TypeError: Cannot call method 'toJSON' of undefined
    at C:\nodejsProjects\loopback-example-access-control\server\boot\routes.js:2
1:21
    at C:\nodejsProjects\loopback-example-access-control\node_modules\loopback\c
ommon\models\user.js:219:9
    at C:\nodejsProjects\loopback-example-access-control\node_modules\loopback-d

[2015-01-08 14:06] andrest commented on #41
Similar thing with GET /api/projects/list-projects

Unauthorized for guest, authenticated, owner and admin.

[2015-01-20 01:18] superkhau commented on #43
Can you try again with the new repo updates? Closing for now, reply if you run into any new issues.

[2015-01-20 01:18] #43 closed

[2015-01-21 02:46] todototry commented on #43
it seems working pretty well now. but is there any elegant way to keep the node server running instead of shutting down when exceptions occurred ?  it's really ugly and crippled to keep trying restart.

[2015-01-21 03:31] superkhau commented on #43
In your production app, you will have to handle your own exceptions via your typical try/catch or handing the error value returned in the callback accordingly. If you can describe a particular scenario, I can help out with showing you how to manage that case specifically.

[2015-01-23 15:41] tuanpmt opened #45 "ROLE $owner not work"
Hello,
I've try the example and make a new one like this, one user model have many device.
When i GET /devices with logged token, alway responsed with message "Authorization Required". But if i change principalId to "admin", it works.

**user model**
[code]
**device model**
[code]
Debug message:
[code]

[2015-01-24 03:53] tuanpmt commented on #45
sorry, my mistake, can not enforce the rights listed because only allow owner objects

[2015-01-24 03:53] #45 closed

[2015-03-09 16:06] mbenaissa opened #50 "How to override models and their ACL?"
I have setup the example with success.

PB :

Now, I want to give only to the admin role to create "users"

1- Solution 1 : Copy the "User" Loopback model in common/models/ and I change it as I want. Then I configure a Grunt task that copy it again to the loopback/models/

2- Solution 2 : I use "user" model that inherit the "User" LoopBack model. I add the following ACL
   {
      "principalType":

[2015-03-11 19:59] Radu3000 opened #51 "how to remove/backout a relation?"
While going through the tutorial I have incorrectly specified a name for the relation - should be "members" instead of "users".

- How do I undo the above?

C:\Projects\StrongLoop\loopback-example-access-control>slc loopback:relation
? Select the model to create the relationship from: team
? Relation type: has many
? Choose a model to create a relationship with: user
? Enter the property name for

[2015-03-11 22:45] superkhau commented on #51
You have to manually empty out the `acl` property (make it an empty array) in `/common/model/your-model.json`.

[2015-03-12 15:31] Radu3000 opened #52 "broken link"
https://github.com/strongloop/loopback-example-access-control/blob/master/server/common/project.json
referenced in:
Note, you have to manually change READ to EXECUTE in project.json for the listProjects endpoint to work properly.

[2015-03-12 16:00] Radu3000 opened #53 "Cannot find module 'body-parser'"
trying to do the tutorial manually and getting the same error even if i download the master:

C:\Projects\StrongLoop\loopback-example-access-control-master>slc run
INFO strong-agent API key not found, StrongOps dashboard reporting disabled.
Generate configuration with:
    npm install -g strongloop
    slc strongops
See http://docs.strongloop.com/strong-agent for more information.
supervisor runni

[2015-03-13 18:59] KloeverGz commented on #52
How the fuck do I do this shit

[2015-03-27 10:03] Loikos commented on #50
I think you shouldn't override build-in models but maybe if you haven't try yet you can set public to false in model-config.json like this :

[code]

[2015-04-01 20:24] vanraizen opened #54 "Trouble accessing boot-script generated users via API"
I'm still new to Loopback so excuse this potentially dumb question.

When I boot the server I see in the command line:

[code]
However, when I try and use the API to GET the users:

http://0.0.0.0:3000/api/users

I get an empty response:
[code]
I tried changing the data connector to use Mongo and I noticed that both a "Users" and "users" collection are made. The API seems to always go to the "User

[2015-04-01 20:36] #54 closed

[2015-04-01 20:37] vanraizen commented on #54
Solved by setting "public" to "false" in the model config file, thanks to Raymond Feng's help.

[2015-04-12 09:39] eabadjiev opened #55 "Question: Why `User` model is configured along with `user`?"
In `server/model-config.json` we can see:
[code]
, where `User` seems to be redundant. Is there a hidden / obscure purpose it stands for?

[2015-04-13 05:53] superkhau commented on #55
`User` is a built-in model and automatically defined when the app is scaffolded. `user` is a custom model we define that extends `User`. We do this to add custom properties because you can't modify the built-in `User` model.

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question f

[2015-04-13 05:53] #55 closed

[2015-04-13 15:34] raymondfeng commented on #55
I disabled the base User from REST - https://github.com/strongloop/loopback-example-access-control/commit/589f8851f31389f5e2186eeb91f161e743ee3f8c

[2015-04-13 15:47] superkhau commented on #55
@raymondfeng TY

[2015-04-13 15:49] eabadjiev commented on #55
@raymondfeng @superkhau thank you guys.

[2015-04-21 17:29] superkhau commented on #51
Has the issue been resolved? Can I close it?

[2015-04-21 17:29] superkhau commented on #51
For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-04-21 17:29] #51 closed

[2015-04-22 09:40] OwenBrotherwood commented on #53
@Radu3000
Did you use the command: npm install in the directory that contains the example?

If you have not used, or understood the need for npm install you need some more general knowledge of the processes involed in running npm install that reads the package.json in order that a npm_modules directory is created that contains the required modules.

@superkhau
I have just used the example today wi

[2015-04-22 09:56] OwenBrotherwood opened #56 "cookies for authentication : possible in this example?"
Is the use of cookies for authentication (instead of tokens) possible in this example or do I something else in order to support cookies?

http://docs.strongloop.com/display/public/LB/Making+authenticated+requests
indicates:that the use of cookies can be enabled with:
app.use(loopback.token({ model: app.models.accessToken })); // before boot ie boot(app, __dirname);

I have used the suggested line

[2015-04-22 13:32] Radu3000 commented on #53
i did an npm -g install
isn't that sufficient?

[2015-04-22 13:46] OwenBrotherwood commented on #53
npm install
slc run

[2015-04-22 15:52] superkhau commented on #53
@OwenBrotherwood Thanks for looking. I just tried out the example and it's working fine for me too.

@Radu3000 `npm -g install` won't do it. Please consult the NPM documentation on how install works. You need to run `npm install` WITHOUT `-g` in the project root.

[2015-04-22 15:55] superkhau commented on #53
@Radu3000 Also if you look at the README instructions, it clearly says:

[code]

Reopen if you are still having issues.

[2015-04-22 15:55] #53 closed

[2015-04-22 16:08] superkhau commented on #52
Actually, that note isn't relevant anymore. Removed from the readme. Thanks for the report!

[2015-04-22 16:08] #52 closed

[2015-04-22 17:50] OwenBrotherwood commented on #56
Note: There is also some mismatch with the placement of app.use in another example, where

60 // The access token is only available after boot
61 app.use(loopback.token({
62   model: app.models.accessToken
63 }));

https://github.com/strongloop/loopback-example-passport/blob/e5e7ef5aa1eaa15b7c3d78d812aebaa750a8efc9/server/server.js#L60-63

[2015-04-22 18:35] OwenBrotherwood commented on #56
From https://github.com/miteshsondhi on gitter.im, I received the following:

In server.js

[code]

in your beforeRemote hook

[code]

[2015-04-24 06:41] OwenBrotherwood commented on #56
For own notes:
https://auth0.com/blog/2014/01/27/ten-things-you-should-know-about-tokens-and-cookies/
Wonders if strongloop can also create a current best practice

[2015-05-06 05:54] raibutera opened #57 "[question] followed tutorial, localhost:3000 doesn't render index.ejs?"
I've created a repo of my version of the example app @ [github/raibutera/try-loopback-access-control](https://github.com/raibutera/try-loopback-access-control)

as you can see, running node . in that project and opening a browser to localhost:3000 does not render index.ejs, but instead something akin to this:

[code]

has anyone else had a similar issue?

[2015-05-20 00:13] superkhau commented on #57
You need to remove `root.js` from `server/boot` in your project. This tutorial uses an older version of LoopBack where you didn't have to do this manually.

[2015-05-20 00:13] #57 closed

[2015-06-09 07:24] kentyap opened #58 "role-resolver.js"
Hi

Will like to know how does this role.resolver.js get called when accessing from
 Show balance for project 1?
As I am looking to add more control on this role.

Regards

[2015-06-18 09:43] gausie commented on #58
It is called by `loopback-boot`'s `boot()` function in server.js

[2015-06-22 13:20] jorgeramos commented on #31
Are there any examples of ACLs using APP principalType ?

[2015-06-30 19:06] AlmaasAre commented on #31
:+1:

[2015-07-08 20:01] crandmck commented on #58
Assuming this question has been answered, I'll close this.

[2015-07-08 20:01] #58 closed

[2015-07-08 20:02] crandmck commented on #2
As https://github.com/strongloop/loopback/issues/115 has been closed, I'm going to close this as well.

[2015-07-08 20:02] #2 closed

[2015-07-11 13:28] wesleymilan opened #60 "ownerId is not in the roles"
I'm trying to apply this example inside my project, and after one week looking for solutions, documents and examples I decided look inside role.js and found this:

#165: var ownerId = inst.userId || inst.owner;

So the "ownerId" in this example does not work because role.js just look for userId or owner field.

And the next step in line 173 that looks for relations does not work either, because I

[2015-07-11 13:33] wesleymilan commented on #50
Hi mbenaissa,

I'm not sure that is the best practice todo but I'm copying every .json and .js files from modules that I want to override from /node_modules/loopback/common/models/ and pasting into my common/models/ folder.  But you have to copy both files, than loopback will load from your folder.

It's working for me

[2015-07-22 12:40] teone opened #61 "Testing dynamic roles"
Hi everybody,

as per my understandings the `Role.registerResolver` callback is triggered only if someone try to access a route where this role is used in the Acl.

I'm wondering which is the best way to write test for dynamic roles, as now I found out two ways:
- using [loopback-testing](https://github.com/strongloop/loopback-testing) to perform e2e test on protected routes
- perform unit tests o

[2015-08-01 02:25] vukasin0 commented on #31
I'm looking across documentation and I wasn't able to find object level acl.

What I mean under "object level acl":

    for this object(model instance) {_id: "30ba61cb-7f82-46fa-a621-d5f84eeac07f" } those users has access [{_id: "346d01ca-ffad-4f4c-a97c-ae79093203c4", role: "editor"}, ....]

and aggregation view too - like:

    this user {_id: "346d01ca-ffad-4f4c-a97c-ae79093203c4" } has access

[2015-08-19 05:11] alFReD-NSH commented on #50
@wesleymilan Do note that the problem with that approach is that, when you upgrade your loopback, you have to manually update the built-in models.

[2015-09-04 16:17] upq commented on #45
@tuanpmt Im having the same issue? can you explain what goes wrong here? I almost done the same as you.

[2015-09-04 16:41] upq commented on #45
@tuanpmt Im having the same issue,
Can you please explain what goes wrong here?
I almost done the same as you, and same debug log too, I noticed there is a ***isAuthenticated()*** here
[code]
I have the same too, when I use ***principalId $authenticated*** everything is perfect when it is ***$owner***, I get ***401***
.
Shouldn't be there a isOwner method from the ROLE model?

***ACL and RELATIONS

[2015-09-04 16:42] upq commented on #45
@tuanpmt Im having the same issue,
Can you please explain what goes wrong here?
I almost done the same as you, and same debug log too, I noticed there is a ***isAuthenticated()*** here
[code]
I have the same too, when I use ***principalId $authenticated*** everything is perfect when it is ***$owner***, I get ***401***
.
Shouldn't be there a isOwner method from the ROLE model?

***ACL and RELATIONS

[2015-09-17 22:45] ryncorbeil-ssf commented on #8
What is the status of this issue please?  It appears that the original behavior stated above ("It seems that we pick the ‘DENY’ rule from the following acls") is still in force.  Thanks.

[2015-09-18 00:35] ryncorbeil-ssf commented on #8
If the issue has in fact been addressed, does any sample project exist?

What I would expect, would be that a user logged in would be able to 'find' only those model instances (records) that she created, and not any others.  However the user 'finds' ALL records, even though she did not create. Am I not understanding the semantics of the $owner role?

Googleing, I found that it is necessary to crea

[2015-09-30 06:27] arulmanickam commented on #39
when i try in mobile can`t access url from it ?

[2015-10-29 22:19] mike-aungsan opened #65 "role-resolver.js"
Either it is a bug or I do not understand well.

https://github.com/strongloop/loopback-example-access-control/blob/master/server/boot/role-resolver.js

Line 23: context.model.findById(context.modelId, function(err, project) {

context here is project. So modelId is Id of the project model or what exactly is that?

What I understand is
1. Check context.modelName is project or not
2. check user is

[2015-10-29 22:21] #65 closed

[2015-10-29 22:22] mike-aungsan commented on #65
Project Id is hard-coded in the template

[2015-11-07 12:24] wzup opened #66 "What is the reason to duplicate REST API's find()? Is this some kind of LB's "best practices"?"
I'm reading Access control concepts of Loopback (https://docs.strongloop.com/display/public/LB/Controlling+data+access). And I don't understand why they duplicate `find()`.

Here is a text from docs:
![controlling data access - loopback - documentation - google chrome 2015-11-07 20 04 54](https://cloud.githubusercontent.com/assets/3880497/11015073/23cbddc2-858b-11e5-8142-9f5e41d0da70.png)

That cu

[2015-11-08 03:28] rmg commented on #66
It looks to me like the `listProjects` endpoint omits the `balance` field when returning the results. The alternative to creating a new endpoint that does this is to modify the default endpoint and then create a new endpoint that does what the original endpoint does.

Another alternative would be to alter the shape of the data based on credentials, but that would interfere with caching.

[2015-11-08 08:17] superkhau commented on #66
@crandmck ^ I will continue with the triage once we confirm the docs are correct.

[2015-11-10 23:14] crandmck commented on #66
@superkhau That section of the doc comes directly from the [README](https://github.com/strongloop/loopback-example-access-control/blob/master/README.md#acl-information).  AFAIK it is correct -- history shows that _you_ wrote the original, so you tell me ;-)

[2015-11-10 23:18] superkhau commented on #66
@crandmck LOL, it's been awhile since I've seen this. ;) But you are right, I don't see an issue with the docs.

@wzup This is not a "best" practice doc, its just simply showing you can omit the balance field using the existing build-in find, which is wrapped in the `listProjects` remote method. ie) @rmg's answer above is correct.

Closing as there is no issue to resolve here.

[2015-11-10 23:18] #66 closed

[2015-11-11 15:34] LuigiFrattolillo opened #67 "ValidationError: The `team` instance is not valid. Details: `memberId` can't be blank (value: NaN)"
Hi, i'm trying to use Mongodb as data source, but i get this error during sample creations:

Web server listening at: http://0.0.0.0:3000
Browse your REST API at http://0.0.0.0:3000/explorer
Created users: [ { username: 'John',
    email: 'john@doe.com',
    password: '$2a$10$eQQuWFROKW1SWFC1VjOBUOEWtq4Gu8aqqVXTa8RgWwB5AjCPGvRzO',
    id: 56435f381fded18a4f15af6d },
  { username: 'Jane',
    email

[2015-11-12 12:02] vabnirvana commented on #8
This does not solve the problem. After updating this and also grating all the things to acl for user model thats extend from User Model, I still get 401 : AUTHORIZATION_REQUIRED", "stack": "Error: Authorization in normal /get calls for user.

[2015-11-16 05:02] bekerov commented on #8
same problem.

[2015-11-16 21:05] superkhau commented on #8
@richardpringle Can you try to reproduce this issue and see if it's still relevant?

[2015-11-16 22:33] richardpringle commented on #8
@superkhau, it's still relevant, I put a bug label on the issue

[2015-11-16 23:27] superkhau commented on #8
Cool, I'll assume you got it then.

[2015-11-17 21:05] richardpringle commented on #56
Hey @OwenBrotherwood, sorry about the delayed response.
Could you please provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

`app.use(loopback.token({ model: app.models.accessToken }));` should work, but I'll need to see exactly how you are trying to use it before I can help you.

[2015-11-17 21:20] richardpringle commented on #60
Hey @wesleymilan, this issue has actually already been posted (and a fix is currently in progress). See [#issue-8](https://github.com/strongloop/loopback-example-access-control/issues/8).

Thanks! Hopefully we'll have everything fixed soon.

[2015-11-17 21:20] #60 closed

[2015-11-17 21:24] OwenBrotherwood commented on #56
Hej @richardpringle
Lol: yep, a bit of ancient history turned up there.
I really have to use time to check my failing memory about this one.
My opening post has me totally confused: the date indicates newbie status, I had a steep learning curve inclusive input on tokens via default or look for specific, with no default (cannot remember what @bajtos decieded in the end)

Soooo.... close the Issue i

[2015-11-17 21:27] richardpringle commented on #61
Hey @teone, sorry about the delayed response to your issue but we're actually reserving the GitHub issues section for bugs and feature requests.
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

Hopefully someone can help you out in there!

[2015-11-17 21:27] #61 closed

[2015-11-17 21:31] richardpringle commented on #67
Hey @LuigiFrattolillo, for me to help you, I'll need you to do the following:
could you please provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

Hopefully I'll be able to help once your repo is up!

[2015-11-17 22:06] OwenBrotherwood commented on #56
:+1:

[2015-11-18 13:53] mbouclas opened #68 "Use ACL in non REST routes"
Is it possible to figure out the users roles in a standard express route? For example, one might want to have a route accessible only for certain roles. How would this work?

[2015-11-19 11:02] daslicht opened #69 "Index.ejs not shown"
Hello,
When I navigate to / I just get :
[code]

Any Idea why ?

I can open /projects without entering any credentials ?

Here is my code:
https://github.com/daslicht/loopback-example-access-control

[2015-11-23 14:02] bajtos commented on #22
I check the sources. It's possible to get the SQL commands from a debug log (`DEBUG loopback:connector:* node myapp`), but that's not suitable for programatic consumption.

I'm relabelling this issue as a feature request.

[2015-11-30 20:22] richardpringle commented on #8
@nicnocquee , @ryncorbeil-ssf , and @vabnirvana, I took a deeper look into this issue and it turns out that the functionality of the example is exactly as expected.
The acl,
[code]
puts a blanket deny on every api endpoint. Each other acl gives specific ROLE access to the following endpoints:
[code]
with the respective properties:
[code]
Any other endpoints will not work, for example `projects/{id

[2015-11-30 20:33] richardpringle commented on #8
@ryncorbeil-ssf, I am not quite clear on what your question is.
 I believe that the foreign automatically inserted if it is not explicitly declared ([see docs](https://docs.strongloop.com/display/public/LB/BelongsTo+relations)).

As for your specific case, it is not quite clear what you are trying to accomplish. I think the best place for you to get your question answered is at https://groups.goog

[2015-11-30 20:46] #8 closed

[2015-12-10 16:00] JonathanSilva commented on #31
Hey @vukasin0
you found any way to make "object level acl"?

[2015-12-11 06:19] vukasin0 commented on #31
@JonathanSilva unfortunately I didn't have time to work on this but definitely it leads us to custom development :)

[2016-01-07 21:24] 0candy commented on #69
@daslicht You have to remove the /server/boot/root.js file

[2016-01-15 23:05] jasiedu commented on #67
You can reproduce this issue by using mongo as your database instead of the memory store. Thanks

[2016-01-16 02:00] richardpringle commented on #67
As it turns out, there are several major problems with this example. Work is being done on improving it and I will take a look and make sure that memory isn't the only datasource that can be used.

@jasiedu, if someone forks this repo and adds a script to populate the mongoDB database and change the datasource, etc. it makes the reproduction process much faster for me so I can escalate the issue a

[2016-01-20 09:18] Sandy1088 commented on #31
Hello All,

I have a model Users and 2 remote methods i.e. Download and Upload......I want certain users to have access to Download method and not Upload.

How can I set a user as admin and allow him to access a method and others as user and deny them access?

Also I ran SQL profiler but was unable to understand how loopback checks ACL.

Please help

[2016-01-20 09:41] Sandy1088 commented on #31
Just for brainStorming

realm | username | password| id
------------ | -------------|------------|--------
1 | Admin1 | password | 1

id | principalType | principalId | roleId
------------ | -------------|------------|--------
1 | Admin | 0 | 1 |

id | name | description
------------ | -------------|------------
1 | Admin | Admin

model | property | accesstype | permissions | principalType | princ

[2016-02-02 20:15] chertpong commented on #67
The issue caused by ownerId and memberId in models/team.json are both number
while id in Mongodb should be string

here is solution (It's my first time using fork to fix someone's issue, is this right?)
https://github.com/chertpong/loopback-example-access-control/commit/5d76698e67ec33405e562bdf45521e927e3ca829

[2016-02-16 01:50] tonyffrench commented on #67
LGTM @chertpong you solution is good, you actually only need to change memberId, because ownerId is referenced as a foreign key and inherits that type. Changing both is the safe answer here.

[2016-02-16 02:00] richardpringle commented on #67
Sorry @chertpong, your comment slipped through my long list of GitHub notifications!
Thanks for the response @tonyffrench

[2016-02-16 02:03] richardpringle commented on #67
@chertpong, could you make a pull request? I know it's a small change but you should get credit for the fix! If not, I will make the change.

Thank you

[2016-02-18 14:43] chertpong commented on #67
@richardpringle Thank you! and could you check my pull request? It's my first time doing this.
https://github.com/strongloop/loopback-example-access-control/pull/71

[2016-03-01 19:23] superkhau opened #73 "Refactor `user` to another name"
We get a lot of confusion from my original implementation of `user` extending builtin `User`. We should rename it to something like `CustomUser` or something to signify it's obviously not the same as builtin `User`.

[2016-03-05 04:44] dongmai opened #74 "TypeError: app.models.User.login is not a function"
Hi everyone,

I catch this error after click login button.
Can someone figure it out?

Thanks.

[2016-03-06 20:35] superkhau commented on #74
Did you extend the base user? https://github.com/strongloop/loopback-example-access-control/blob/master/common/models/user.json#L3

[2016-03-07 03:52] dongmai commented on #74
Yes, that's reason. I forgot to extend 'PersistedModel'.

[2016-03-07 03:52] #74 closed

[2016-03-07 05:29] superkhau commented on #74
@dongmai Cool, thanks for closing. ;)

[2016-03-14 11:50] richardpringle commented on #67
Fixed as per https://github.com/strongloop/loopback-example-access-control/pull/71. Closing

[2016-03-14 11:50] #67 closed

[2016-04-05 14:47] 0candy commented on #69
@daslicht Hope the above resolved your issue, I am closing this for now. If you are still having issues, please feel free to reopen.

[2016-04-05 14:47] #69 closed

[2016-04-05 16:21] daslicht commented on #69
I haven't  it again since then,  thank you for the reply

[2016-04-05 20:05] richardpringle commented on #68
@mbouclas, this is a difficult question to answer. In short, no you can't. I have seen some instances where community members will implement some custom functionality though, they might have a better idea of how you could achieve something similar.

Try asking in one (or more) of the following locations:
- [Google Groups](https://groups.google.com/forum/#!forum/loopbackjs)
- [StackOverflow](http:/

[2016-04-05 20:05] #68 closed

[2016-04-05 20:20] timotheemoulin commented on #73
Thanks for reporting that ;)

The official documentation tells us to use ``Customer`` or ``Client`` when overriding the ``User`` model.
Moreover, I am not conviced that mixing naming conventions in the example is a good practice.

https://docs.strongloop.com/display/public/LB/Managing+users

[2016-04-05 21:40] superkhau commented on #73
Do you have any suggestions? :ear:

[2016-04-05 21:47] timotheemoulin commented on #73
I think that using the same names as in the official documentation ``Customer``, ``Client`` would be a good idea. I might highy help people understanding the examples.

[2016-04-05 23:06] superkhau commented on #73
Haha, actually `user` was the official name before and we added `Customer`/`Client because we had to keep explaining it before, but never got around to updating the examples to match. ;)

[2016-04-05 23:10] timotheemoulin commented on #73
Ok I get it.

I don't mind using ``User`` twice. That's even what I would have done if
not told otherwise in the doc. What bother me more is that it's once
written in lowercase and the second time with an uppercase *U*

[2016-04-06 00:16] superkhau commented on #73
No, it has to be lowercase or it will conflict with the builtin `User` model. That or you can name it something other than "User".

[2016-04-06 10:05] talpasco opened #75 "loopback-example-access-control & MySQL"
Running this example on memory DB, it runs perfectly.
But, using MySQL as data-source, produce the following error:

C:\loopback-example-access-control\node_modules\mysql\lib\protocol\Parser.js:77
throw err; // Rethrow non-MySQL errors
^
ValidationError: The user instance is not valid. Details: email is invalid (value: "john@doe.com"); username is invalid (value: "John").,ValidationError: The user

[2016-04-06 10:58] talpasco commented on #75
I've forked this project and modified the files as described in here:
https://github.com/talpasco/loopback-example-access-control/commit/2339d45641705ad7f862f591a70ca5cd4187f75e

And the project...
https://github.com/talpasco/loopback-example-access-contro

[2016-04-07 11:41] talpasco commented on #75
It seems like the problem has something to do with the relation between user and project.
If I remove the creation of the project, it would update the db (sample-models.js):

      name: 'project1',
      balance: 100
    }, function(err, project) {
      if (err) throw err;

[2016-04-10 13:24] talpasco commented on #75
So, the problem is that the ownerId property wasn't mentioned in the 'project.json' file. Just look at the following commit, that should do it:
https://github.com/talpasco/loopback-example-access-control/commit/6fa0e9ccbddd2fd469ce2fb39b2bdda520fb3c30

And this commit will provide the tutorial for the MySQL datasource:
https://github.com/talpasco/loopback-example-access-control/commit/2339d4564170

[2016-04-12 13:08] richardpringle commented on #75
@talpasco sorry about the delayed response... but you probably learned more by me not responding right away :wink:.

I could go in and make this change but I think that you should get credit as a contributor! Do you want to submit a PR for the change in `project.json` file?

I'll hold off on making the change until I hear back, but if you do want to Open a PR [here's a guide](https://github.com/st

[2016-04-13 09:34] talpasco commented on #75
Don't really know what happened, I'm pretty convinced it did work. But I'm getting the same error message right now. It seems I don't deserve any credit..

[2016-05-03 22:14] DaGaMs commented on #73
the `User` vs `user` issue also breaks down if you use mysql as a backend, since it can't distinguish between tables by case.

[2016-05-18 08:33] bajtos commented on #50
Possibly related: https://github.com/strongloop/loopback/issues/2270

[2016-05-20 09:32] TrevorPage opened #76 "team model format"
I'm using this project to learn how model relations work, and the thing that confuses me is why a team is represented as separate objects in the database, where each team object seems to provide just one mapping of user to owner. This means that, if for example a team has three members (users), then there are three distinct team objects in the database.

It would make more sense to me if a team wa

[2016-06-01 18:20] richardpringle commented on #76
Hey @TrevorPage, there would only be one distinct team instance (one record in the database) that has three difference members. What bit of code (or documentation) is leading you to believe otherwise?

[2016-06-02 19:52] TrevorPage commented on #76
Hi @richardpringle! The part of code that made me believe that three records were being made is the following in boot/sample-model.js:

      // add team members
      Team.create([
        {ownerId: project.ownerId, memberId: users[0].id},
        {ownerId: project.ownerId, memberId: users[1].id}
      ], function(err, team) {
        if (err) throw err;

        console.log('Created team:', team

[2016-06-02 20:36] TrevorPage commented on #76
Furthermore, if I persist the memory database to .json, I see that the one team with two members and one team with one member are represented as three separate objects:

{
  "ids": {
    "User": 1,
    "AccessToken": 1,
    "ACL": 1,
    "RoleMapping": 2,
    "Role": 2,
    "user": 4,
    "team": 4,
    "project": 3
  },
  "models": {
    "User": {},
    "AccessToken": {},
    "ACL": {},
    "Role

[2016-06-03 22:51] richardpringle commented on #76
Woah... this isn't right at all.

@TrevorPage, checkout the [relations example](https://github.com/strongloop/loopback-example-relations) to learn more about relations.

The team model isn't well designed here. If you ignore the fact that there are three separate team instances, I believe that the example still correctly displays the ACL logic.

Let me know if there's anything else I can help you

[2016-07-15 18:12] buzai opened #78 "i creat some user,how can i get all of my users"
http://localhost:3000/api/users
i want use it to get all users

i write some script.js to creat 3 people ,i think they are admin uesrs.

module.exports = function(app) {

  var Role = app.models.jikeUser;
  Role.create(

[code]

],

 function(err, users)
 {
    if (err) return
        // Create projects, assign project owners and project team members
        // Create the admin role
    Role.creat

[2016-07-25 15:10] kernel8liang opened #79 "alc $owner access return Unauthorized"
I have defined two model one is model A which inherit from User, and another is a normal model B which inherit from PersistedModel. see below:

model A:

[code]

model B:

[code]

when a user login I want let she/he only to see items which belongs to this User, I use angular as client. the app.js is defined as below:

[code]

in BUserLoginController:

[code]

After login I get error from brower:

[2016-07-26 01:43] kernel8liang commented on #79
I just did another test with some modify of the loopback-example-access-control source code.

     index 05d59c6..cf80ed0 100644
     --- a/client/js/app.js
     +++ b/client/js/app.js
     @@ -42,7 +42,7 @@ angular
              controller: 'AuthLogoutController'
            })
            .state('my-reviews', {
     -        url: '/my-reviews',
     +        url: '/my-reviews/:id',

[2016-07-26 05:58] kernel8liang commented on #79
I change $owner to $authenticated, it run as expect.

[2016-08-16 20:52] emazzu opened #81 "I don't understand the relation between user and Roles"
Hi, how are you !!!

I send a project, can you take a look ?

[a.tar.gz](https://github.com/strongloop/loopback-example-access-control/files/421256/a.tar.gz)

**table user**
![image](https://cloud.githubusercontent.com/assets/6100546/17715255/b1669258-63d9-11e6-9920-c0b53d298aa4.png)

**table role**
![image](https://cloud.githubusercontent.com/assets/6100546/17715265/baf557aa-63d9-11e6-9def-075f45

[2016-09-09 18:44] acrodrig commented on #22
Hi, I would like to know if this is being worked on. If it is not, is it possible for someone to give me directions on how to make the contribution? Thanks.

[2016-09-09 22:29] superkhau commented on #22
You can make a contribution by submitting a pull request with your changes: https://help.github.com/articles/about-pull-requests/ and https://github.com/strongloop/loopback-contributor-docs and https://github.com/strongloop/loopback/wiki/Contributing-code may help.

[2016-09-09 22:37] acrodrig commented on #22
@superkhau thanks. I did take a look at those documents. I was more interested in pointers (technical guidance) to the modules to study and ideas about how to change the code from the person who wrote it. I presume there are a couple of right ways to it and zillion wrong ones.  Cheers.

[2016-09-09 22:53] superkhau commented on #22
@acrodrig I wrote the code for this module. Which part of the code are you interested in? With regards to dumping SQL statements in automigrate/autoupdate, you'll have to start digging into that feature at https://github.com/strongloop/loopback-datasource-juggler and the corresonding connector (this example uses the in-memory connector at https://github.com/strongloop/loopback-datasource-juggler/b

[2016-09-09 22:59] acrodrig commented on #22
@superkhau I will look into the module you pointed me to. I did some autoupdate with `DEBUG` turned on and it is outputting some lines prefixed `SQL`, so I will look for that and then try to have a flag that prints the SQL instead of executing it. Does that seems like the right approach?

Question: your mention the memory connector. I presume there is no SQL commands involved in that connector. Wh

[2016-09-09 23:26] superkhau commented on #22
Yeah, that sounds reasonable. A `dry-run` flag and outputing to console should be fine. Submit a PR and we can discuss more there.

Nah, there are no commands there but I mean this example uses the memory connector (so DEBUG wouldn't bring up any SQL statements). You'll have to replace https://github.com/strongloop/loopback-example-access-control/blob/master/server/datasources.json#L4 with an actu

[2016-09-23 19:54] ORESoftware opened #83 "restricting access to records in a table"
We use Loopback :) Say we have two tables like so (in Postgres):

[code]

what we want is to implement low level access control to the contracts table - restricting user access to only certain records. Given the docs, it's not yet clear if we can restrict access to particular records, using ACLs alone.

If someone is logged into our application and they are a contract_manager, we want them to only

[2016-09-30 20:12] the1mills opened #84 "user instance is not valid"
Followed the instructions in the readme, got this error:

[code]

anyone know what might cause this? thanks

[2016-09-30 20:13] the1mills commented on #83
I asked the same question on SO and got an answer, hopefully this is more or less correct:

http://stackoverflow.com/questions/39668855/using-access-control-lists-in-loopback-for-restricting-access-to-table-records/39679210#39679210

thanks

[2016-09-30 23:12] ORESoftware commented on #84
I fixed this problem - what was happening is that the automigration was not complete before creating the db entities.

For your use, the following is the same script in the readme, but blocks on automigration:

[code]

[2016-09-30 23:13] ORESoftware commented on #84
the above assumes you are using postgres (psql)

this line

``` app.dataSources.psql.automigrate(item, function (err) {}) ```

will differ for whoever you are

[2016-09-30 23:14] ORESoftware commented on #84
(you can close issue, thx)

[2016-09-30 23:27] #84 closed

[2016-10-17 18:22] antarasi commented on #73
`Account` seems to be distinguishable enough and independent from actual user purpose (Client, Customer etc)

[2016-10-17 21:20] superkhau commented on #73
Would someone like to submit a PR? I can help with the landing. ;)

[2016-10-28 02:47] lygstate opened #88 "How to create a Model names 'device', that a user owns that deivce."
That's means
user hasMany device
device hasMany user
and user belongsTo multiple device
and device belongsTo multiple user

[2016-11-03 18:08] victorhazbun87 opened #89 "role-resolver.js"
I'm registering and using a role: this are the scripts:

role-resolver.js
https://gist.github.com/victorhazbun87/ecf28d78ca5eb926a16f64092492e60b

application-request-config.json
https://gist.github.com/victorhazbun87/445f9cf1d9bb0a408358abd109f2d7ca

When I make a request to: **GET /ApplicationRequestConfigs/{id}** It always return 200 with the resource, It seems to not care about the result:

re

[2016-11-03 19:24] victorhazbun87 commented on #89
**UPDATE:** After some research and testing, I found that I need to put the following config  into the acls additional to my custom role in order to make it work:

    {
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    }

[2016-11-09 19:18] jeroldlin opened #91 "Is it possible to filter the projects owned by an owner without adding additional API?"
E.g. I want to get all the projects belongs to an owner

call - GET /api/projects

and setup the project model like this:

"acls": [
    {
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    },
    {
      "accessType": "READ",
      "principalType": "ROLE",
      "principalId": "$owner",
      "permission": "ALLOW"
    }
]

[2016-11-09 19:22] saltukalakus opened #92 "ACL for third-party login"
There was a lot of confusion in ACL support with third-party login in this [ticket](https://github.com/strongloop/loopback-component-passport/issues/65).

Could you kindly provide a third-party login scenario usage in this example? It would help a lot.

[2016-11-09 22:30] FreakTheMighty commented on #76
Any plans to update the example? Seems like maybe the idea was to do something like, `Project` has many members through `Team`.

[2016-11-15 16:49] richardpringle commented on #76
Hey @bajtos, do you have an answer for @FreakTheMighty?

[2016-11-15 17:35] bajtos commented on #76
@richardpringle hey, glad to see you are still helping :)

I am not familiar with this example myself. @raymondfeng @superkhau could you PTAL?

[2016-11-15 23:51] superkhau commented on #76
@FreakTheMighty No plans that I know of and with regards to priority, I don't believe it's high up there ATM -- @ritch Can you confirm?

No, the idea is to demonstrate a user can start many projects like they do on kickstarter, and that same user can belong to a team with various members (some with admin perms, some without etc). Remember the goal is to demonstrate access control mechanisms, not d

[2016-11-15 23:55] superkhau commented on #76
I'm going to close this as won't fix -- please see https://github.com/strongloop/loopback-example-relations for examples on model relations. Please note though, this example doesn't show programmatic usage -- mostly how to query via REST -- we need an programmatic relation example too.

We do not have any examples for both access control with relations ATM.

[2016-11-15 23:57] superkhau commented on #76
@FreakTheMighty @TrevorPage I added an issue you can track and upvote at https://github.com/strongloop/loopback-example-relations/issues/42 for programmatic relation examples and access control with relations at https://github.com/strongloop/loopback-example-relations/issues/43.

[2016-11-15 23:57] #76 closed

[2016-11-17 20:10] TrevorPage commented on #76
Thanks guys. If I understand right, what we're saying is that the relations here are possibly a bit contrived, but the reason is because this is purely to demonstrate access control.

[2016-11-17 21:13] superkhau commented on #76
@TrevorPage That is correct, the relations are totally contrived as the intent is to demonstrate access control. Thanks for clarifying for other users who may run into this. ;)

Feel free to submit a PR if you have time to refactor the relations to make it feel less contrived. :beer:

[2016-12-01 21:51] #89 closed

[2016-12-01 21:51] Amir-61 commented on #89
Closing as the issue has been resolved

[2017-01-22 08:48] wangdandong opened #94 "request /api/projects returns "Error: Authorization Required" when use mongodb datasource"
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Explain
Use memory db is ok. But when use mongodb datasource, error occurred, returns "Error: Authorization Required".

### Additional information (Node.js version, LoopBack version, etc)
Node.js version: v4.7.2
"loopback-connector-mongodb": "^3.0.0"

[2017-01-27 15:34] lriggle-strib opened #95 "Readme 'Tutorial' links broken"
### Bug or feature request
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Some links in your readme.md file are no longer working. The links for:

* Tutorial series - step 1
* Tutorial series - step 2
* Tutorial series - step 3

all lead to 404 pages.

[2017-01-31 05:25] superkhau commented on #95
Would you like to submit a PR to fix it? @crandmck can give you a hand with regards to where in the links should point to.

[2017-01-31 22:11] crandmck commented on #95
@lriggle-strib

- Link to Getting Started should be https://loopback.io/doc/en/lb3/Getting-started-with-LoopBack.html (the URL redirects there, but might as well fix it).
- The other three links "Tutorial series - step 1/2/3" Should be replaced with one link to [Tutorials and examples](https://loopback.io/doc/en/lb3/Tutorials-and-examples.html).  We removed the https://github.com/strongloop/loopba

[2017-02-01 11:34] Nygma297 opened #96 "Cannot read property 'registerResolver' of undefined"

[2017-02-01 11:39] #96 closed

[2017-02-01 11:40] Nygma297 commented on #96
in models-config change the name of Role to the variable you're using!

[2017-02-06 22:12] #95 closed

[2017-02-08 08:34] Nygma297 commented on #94
Try this: Go to **_server/boot/authentication.js_** and comment the line where it says `server.enableAuth();` and rerun again.

[2017-02-11 09:13] wangdandong commented on #94
@Nygma297 I need the ACL feature, so I can't comment `server.enableAuth();`.
Is there something wrong in my environment ?

[2017-02-13 07:29] Nygma297 commented on #94
Can you post the datasources.js file?

[2017-02-13 08:17] wangdandong commented on #94
[code]

Other function except ACL is working well.

[2017-02-13 08:41] Nygma297 commented on #94
Make it something like this :
`{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "mongoDs": {
    "host": "localhost",
    "port": 0,
    "url": "",
    "database": "test",
    "password": "",
    "name": "mongoDb",
    "user": "",
    "connector": "mongodb"
  }
}`

PS: Create a seperate datasource for mongo, I hope it works

[2017-02-20 12:10] Nygma297 opened #102 "User creation"
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I've added User to the ACL for only read actions but it is allowing the user to create another users too.

### Link to sample repo to reproduce issue (if bug)

### Expected result
The User Should not be created.

### Actual result (if bug)
The User is being created!

### Addition

[2017-02-20 12:10] Nygma297 commented on #102
This is the JSON file of the user model

[code]

[2017-02-20 13:04] Nygma297 commented on #102
Added this and got it solved!

[code]

[2017-02-20 13:13] #102 closed

[2017-02-20 22:11] greaterweb opened #103 "User model present in model-config.json"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Additional information (Node.js version, LoopBack version, etc)
Both the base  [`User` model](https://github.com/strongloop/loopback-example-access-control/blob/589f8851f31389f5e2186eeb91f161e743ee3f8c/server/model-config.json#L10-L13) and a custom [`user` model](https://github.com/strongloop/loopback-example-access-control/blob/589f

[2017-02-20 22:47] superkhau commented on #103
@greaterweb It is intentional. `User` is a builtin model and `user` is a user-defined model. We really should just rename it `customer` something to prevent confusion. It's been there for a long time -- if you would like to contribute a fix, I can help you get it landed.

Note that `User` is private while `user` is public in the `model-config`.

[2017-02-20 22:47] #103 closed

[2017-02-20 22:48] superkhau commented on #103
cc @crandmck -- we really should get this fixed lol still going around

[2017-02-20 23:05] greaterweb commented on #103
Thank you for the prompt response.

Could you please explain why you would need the builtin `User` model if you've created a custom model which extends it? I've got a fair amount of experience in using Loopback v2 and many times using the built in `User` model as the base for my custom user/account model.

Is something different in v3 which has this as the recommended approach? I don't have any in

[2017-02-21 00:52] superkhau commented on #103
@greaterweb The builtin `User` is used for various parts of the LB system -- ie. ACLs, Roles, AccessToken, etc. So it needs to be part of a default LB scaffold -- that said, it is restricting in many ways so we recommend extending it to enable full customization.

[2017-02-21 01:07] greaterweb commented on #103
@superkhau you may wish to follow the discussions in strongloop/loopback#3215

I guess what we are really looking at is the larger topic on whether or not it is required to include the `User` model reference in `model-config.json` if I'm extending it. Prior to v3.3.0 it wasn't required to do so to get the "out of the box" benefits of the `User` model, with the latest loopback release that appears

[2017-02-21 01:14] superkhau commented on #103
Yes, I saw your comment with @raymondfeng (especially this one https://github.com/strongloop/loopback/issues/3215#issuecomment-281207659) which is correct. I wasn't sure if you could've removed `User` in versions <3.3.0 -- did you try reproducing on a fresh 2.x project vs 3.x to prove it? Otherwise, it's a breaking change that should've never landed since it wasn't mentioned in the 3.x docs IMO. A

[2017-02-21 19:06] crandmck commented on #103
The general concept of extending the User model for your own purposes is laid out pretty clearly in
http://loopback.io/doc/en/lb3/Managing-users.html.  However, it doesn't say you have to leave the entry for User in `model-config.json`.  I always assumed that to extend a model, you would leave the base model "as is".   LMK if I should clarify.

Also, if something _did_ change wrt this between v2 &

[2017-02-22 03:08] superkhau commented on #103
The bug is being handled by @miroslav at https://github.com/strongloop/loopback/issues/3215#issuecomment-281335305 already. No doc changes are required ATM.

What I meant was change the `user` to `Customer` or something to prevent confusion in the example instead of `User` to `user` remember? This hasn't changed for a long time now. ;)

[2017-02-22 06:04] Nygma297 opened #104 "The roles aren't getting into the Coded ACL."
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Wrote the script to create roles named Admin and SuperAdmin
After Creation the admin and superadmin have the right to do everything.

### Link to sample repo to reproduce issue (if bug)

### Expected result
The Admin and superadmin roles should be able to post into any of the mode

[2017-02-22 06:10] Nygma297 commented on #104
Here are some files

**Advertisement.json**

[code]

**AppUser.json**

[code]

**Script.js**

[code]

[2017-02-22 19:56] crandmck commented on #103
Oh, right... It would be a good change, and should be relatively straightforward.  Perhaps something for @siddhipai ?

[2017-02-22 22:17] superkhau commented on #103
@crandmck Good idea. :)

[2017-02-22 22:19] superkhau commented on #103
@siddhipai See https://github.com/strongloop/loopback-example-access-control/issues/73, reassigning this to you. Also try to go throught his example when you have time too.

[2017-02-28 06:19] GregBuchberger commented on #94
Same issue.

Mongo collections and data are created successfully.

Then, authentication works but authorization does not.

**datasources.json:**
{
    "db": {
        "name": "db",
        "connector": "memory"
    },
    "mongoDS": {
        "host": "localhost",
        "port": 0,
        "url": "",
        "database": "AccessTest",
        "password": "",
        "name": "mongoDS",
        "user

[2017-02-28 06:37] BuchyOne commented on #94
## Authorization issues when using mongo
Does not occur when using memory as datasource

Mongo collections and data are created successfully.
Then, authentication works but authorization does not.

### datasources.json:
{
"db": {
"name": "db",
"connector": "memory"
},
"mongoDS": {
"host": "localhost",
"port": 0,
"url": "",
"database": "AccessTest",
"password": "",
"name": "mongoDS",
"user": "",
"c

[2017-02-28 06:45] Nygma297 commented on #94
@BuchyOne

Try adding a **DataSourceJuggler** Npm Package Maybe that'd help.
Here: https://www.npmjs.com/package/loopback-datasource-juggler

I Hope it works.

[2017-02-28 06:59] BuchyOne commented on #94
@Nygma297

No, it does not resolve the issue.

I will debug and if successful get back.

[2017-02-28 09:38] BuchyOne commented on #104
Not sure of your POST request, but this from the docs may help:

If a model has a DENY ALL permission (for example a built-in model such as the User model), but related models have no ACLs,the related models will still not be accessible through the User model. So, for example, even if the books model’s default ACL is ALLOW $authenticated for GET /books, the route GET /user/{id}/books default will

[2017-02-28 09:43] Nygma297 commented on #104
@BuchyOne

Not sure What you're trying to say, could you please explain

[2017-02-28 10:59] Nygma297 commented on #104
@BuchyOne

Done! But the problem still persists. I found out that there was no relation between the roleMapping model and My AppUser model(base: User) due to which the principalId field in roleMapping model doesn't return an object just a string containing the ID of User. I've fixed it temporarily by assigning relations.

I hope it works 👍

[2017-02-28 23:28] BuchyOne commented on #94
Using DEBUG=loopback:connector:mongodb

it appears the request to the RoleMapping fails:

loopback:connector:mongodb all +5ms RoleMapping { where:
   { roleId: 58b5f81ce60625467c762913,
     principalType: 'USER',
     principalId: '58b5f81ce60625467c762910' },
  limit: 1,
  offset: 0,
  skip: 0,
  order: [ 'id' ] } null []

Check this:
https://github.com/strongloop/loopback-connector-mongodb/issu

[2017-03-01 02:49] BuchyOne commented on #94
@Nygma297

This answer works, but will break production:
https://github.com/strongloop/loopback/issues/3121#issuecomment-278811202

This is a better answer
https://github.com/strongloop/loopback/issues/3121#issuecomment-280283743

This is the answer !
https://github.com/strongloop/loopback/issues/3121#issuecomment-280635105

[2017-03-16 13:09] sminodonte commented on #94
same problem for me and not resolve with these solutions...

my model-config file is:

{
  "_meta": {
    "sources": [
      "loopback/common/models",
      "loopback/server/models",
      "../common/models",
      "./models"
    ]
  },
  "User": {
    "dataSource": "mongoDB",
    "public": false
  },
  "AccessToken": {
    "dataSource": "mongoDB",
    "public": false
  },
  "ACL": {
    "dataSour

[2017-03-17 11:02] sminodonte commented on #94
Any insights will be appreciated, thanks

[2017-03-23 23:07] dan-h-ch commented on #31
+1 👍 👍 👍 This much needed

[2017-04-20 19:57] kristojorg commented on #104
@Nygma297 could you please explain what you did here? I'm having this same issue and can't seem to resolve it. I created an `admin` role, added a `AppUser` extended from `User` to it, and created an acl similar to yours to allow admins to access full api. The admin user is still being denied access however.

I also have a relation from `AppUser` to `Role` through `RoleMapping`:

[code]

Do I need

[2017-04-22 08:15] YSTomar commented on #94
I am also experiancing same problem, Any help will be appreciated

[2017-04-26 04:07] BuchyOne commented on #94
@YSTomar @sminodonte

If you scaffolded then it should be ok, otherwise you need the solution here :
[strongloop/loopback#3121 (comment)](https://github.com/strongloop/loopback/issues/3121#issuecomment-280635105)

If this does not work it could be because the example really only runs in memory. To run it in Mongo be aware that the hard coded simple ids e.g. 1, 2 ... in  the form /server/views/proj

[2017-05-02 07:54] saikatharryc commented on #92
exactly, facing same issue here.
i'm using auth0,
though on first login i'm saving user info to our db. [Dont have password here]
and using this user model and id to create a role.
but its not working,
after this:
[code]
its taking post , get and all the request. missed something?

[2017-06-21 11:12] marang opened #108 "info about executing "lb relation" is missing"
### Bug or feature request

- [ ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2017-06-29 14:07] liudonghua123 opened #109 "ValidationError: The `user` instance is not valid. Details: `email` is invalid (value: "john@doe.com")"
I cloned the latest code, and modified `datasources.json` to use mysql, and the content of the file belows

[code]

When I run `node .`, it gave me the following problem

[code]

I searched the https://github.com/strongloop/loopback-example-access-control/issues/75 and https://github.com/strongloop/loopback-example-access-control/issues/84 does not work for me.

Any advice?

[2017-07-05 19:35] brunoescalona opened #110 "Sample with mongo db connection not working as expected"
### Description of the problem
If I run the example code as it is, it works perfect.
I try to modify the data source from memory to a mongo database with the following code.
[code]
With the change when I run the application I can see all the Users, Roles and Roles Mapping in my database, the problem is when I login with the admin user and I GET all the projects I get the 401 error. (I am using the

[2017-07-05 19:39] #110 closed

[2017-07-05 20:11] brunoescalona commented on #110
Sorry the issue was alredy open.
I could solve the problem with the following modification in the RoleMapping model:
[code]

[2017-08-03 08:01] osamasaeed commented on #109
I have resolved it. assign null to unnecessary fields
    "credentials":null,
    "challenges":null,
    "realm":null,
    "status": null,
    "created": null,
    "lastUpdated": null

in your model. if your base:"User"

[2017-08-03 22:49] tniezurawski commented on #109
@liudonghua123 I didn't clone this repo but I'm pretty sure what's going on ;)

Leave `db` datasource as it was. Set `server/datasources.json` this way:

[code]

Yours `server/model-config.json` should look somehow similar to this:

[code]

Then **the part that is the most important** here. Most probably there is no tables in DB yet. Wrap all your code in `server/boot/create-sample-models.js` in `

[2017-08-13 12:07] herbat73 commented on #75
My remark how to ajust code to mysql database.
1. Model name cannot be 'user' otherwise it creates table conflicts. My advice is name it to 'appuser'
2. On server/boot/autoMigrate.js you need to first create database stucture (automigrate) some like @talpasco wrote and wait a bit and latter load data to tables. I am using for that purpose Promise function with 5 sek delay.

My repo updated is here

[2017-08-14 18:28] richardpringle commented on #75
@herbat73, you should PR your code. I'm not actually working on LoopBack anymore so I couldn't tell you if it would get merged or not, but it's not a bad idea to try.

[2017-09-06 15:20] #22 closed

[2017-09-06 15:20] #31 closed

[2017-09-06 15:20] #91 closed

[2017-09-06 15:20] #83 closed

[2017-09-06 15:20] #78 closed

[2017-09-06 15:20] #81 closed

[2017-09-06 15:20] #88 closed

[2017-09-06 15:20] #79 closed

[2017-09-06 15:20] #94 closed

[2017-09-06 15:20] #92 closed

[2017-09-06 15:20] #104 closed

[2017-09-06 15:20] #108 closed

[2017-09-23 21:21] Selichio opened #114 "Access Control Bug?"
Hello guys,

I just tried this example, because I have a similar use case.
After testing it, I found some little confusing things - looks like a bug to me.

Here my explantation:
In the case, John creates another project (3) and is the owner and solo member, Jane also granted to get informations about the project 3 using the REST Endpoint for it (/api/projects/3...).

In my use case (and I think i

[2017-10-17 00:01] #109 closed

[2017-10-24 15:24] emazzu commented on #94
I m the same problem !!!!

[2017-10-26 18:04] Nopzen commented on #84
@ORESoftware - This reply saved me a massive headache! Thanks!

[2017-10-27 18:55] the1mills commented on #84
Np! This automigration stuff is massively useful for working with standard RDBMs.

[2017-10-27 19:54] #75 closed

[2017-12-06 22:53] #114 closed

[2017-12-16 06:39] quinnliu commented on #94
Nygma297's comment works for

[code]
and
[code]

[2017-12-18 18:34] ssageghi opened #116 "Define role for inbuilt models"
Hi
I Have a profile model based on user
I'm trying to add admin role to one if existing profile
How can I do this? Is there a way to accomplish this?
I really appreciated any help

[2017-12-19 23:33] csakis commented on #73
I addressed this issue in a new PR

[2017-12-20 16:23] csakis opened #119 "automigrate to mongodB"
I am in the middle of migrating this project from memory db to mongoDB. I managed to autmigrate the user/account property into a mongo collection, as well as, the User, AccessToken and RoleMapping , using this script:

[code]

I am having problem defining the team and roles properties to automigrate. How do I associate the newly entered account mongoDB ids with the teams and roles? I'd appreciate

[2017-12-26 19:04] cspinillo opened #120 "There is an error in the withdraw remote definition"
# Description/Steps to reproduce
Type example code on readme.md as is and yarn start

# Link to reproduction sandbox
n/a

# Expected result
accepts: [
      {arg: 'id', type: 'number'},
      {arg: 'amount', type: 'number'},
    ]

should be:

accepts: [
      {arg: 'id', type: 'number'},
      {arg: 'amount', type: 'number'}
    ],

# Additional information

[2018-02-07 08:25] kuongknight commented on #94
The issue still exits, any help will be appreciated

[2018-03-02 19:54] #116 closed

[2018-03-10 19:42] #120 closed

[2018-04-03 04:02] bigBigPeng opened #123 "How to emit this function : Role.registerResolver(role, resolver)?"
In loopback-example-access-control,  not create "teamMember" role,  only create "admin" role.  how does it emit this function : Role.registerResolver(role, resolver)?

[2018-04-08 08:45] #123 closed

[2018-04-14 00:16] Selichio commented on #114
?

[2018-05-09 08:27] zulfahmi commented on #110
Thank you anyway for pointing this.

[2019-01-12 18:33] anupammaurya commented on #94
Same track, no solution found for this?

[2019-01-24 18:00] shawnchen1980 opened #128 "Weird relation between the model team and user"
Each instance of the team model(ownerId, memberId) means that some user(memerId) is a member of some project owned by some other user(ownerId). So both properties are foreign keys to the user model. Such properties should be defined by lb relation rather than lb model because they reflect the relationship between different models. On the other hand,if you follow the example to make team hasMany us

[2019-02-06 14:16] felixia commented on #94
Am equally stuck with the same problem...any solution?

[2019-02-07 01:12] wangdandong commented on #94
a solution, see https://github.com/strongloop/loopback-example-access-control/issues/94#issuecomment-283229447

[2019-05-14 04:46] santoshkanuri opened #131 "how do I apply ACL based permission rather then roles"
**how do I apply ACL based permission rather then roles**
user having multiples roles and  permissions

[2019-06-12 05:45] #131 closed

[2019-10-01 18:50] #128 closed

[2020-03-17 14:57] marcus-gomes-v commented on #94
Guys i keep with the problem, even adding options to every of my models.
[code]
maybe i not understand exactly what i need to do.
i need just put the options on my models, or i need to change my role and role mapping model to use memoryDS ?